/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* 
*{
    outline: 1px solid red; 
} */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden
{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

            clip-path: inset(100%);
    clip:rect(0 0 0 0);
    overflow: hidden;
}

html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;/*контентная обл уменьшается*/
}

*, *::before,
*::after{
    -webkit-box-sizing:inherit;
            box-sizing:inherit;
}

body{
    font-family: 'Montserrat', sans-serif;/*шрифт который подключен в head*/
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

img{
    display: block;
    max-width: 100%;
    height:auto;
}

.link{
    display: block;
    text-decoration: none;
}

.list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.butn{
    border: none;
    cursor: pointer;

    margin: 0;
    padding: 0;

    font-weight: 700;  
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.wrapper{
    width: 1200px;/*ширина обертки согласно pdf файлу*/
    margin: 0 auto; /*центрирую элементы на странице*/
}

/*Site header navigation*/
 .banner{
    min-height: 1000px;
    background: -webkit-gradient(linear,  left bottom, left top,  from(rgba(252, 227, 138, 0.9)), 
                                         to(rgba(243, 129, 129, 0.9))
                                ),
                url("../img/Layer15.png");
    background: -o-linear-gradient(bottom,  rgba(252, 227, 138, 0.9), 
                                         rgba(243, 129, 129, 0.9)
                                ),
                url("../img/Layer15.png");
    background: linear-gradient(to top,  rgba(252, 227, 138, 0.9), 
                                         rgba(243, 129, 129, 0.9)
                                ),
                url("../img/Layer15.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    color: rgb(255, 255, 255);
    text-align: center;
}

.page-header{
    margin-bottom: 170px;
}

.main-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
    min-height: 100px;
    margin: 0;
}

.main-nav__nav-menu{
    -ms-flex-preferred-size: 612px;
        flex-basis: 612px; 
}

.logo{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: rgb(255, 255, 255); /*цвет задаем так как это ссылка*/
}

.logo
{
    -webkit-animation: logo-appear 1s linear;
            animation: logo-appear 1s linear;
}

@-webkit-keyframes logo-appear {
    0% {
        -webkit-transform: translateY(-200px);
                transform: translateY(-200px);
        opacity: 0;
        }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1; 
        }
}

@keyframes logo-appear {
    0% {
        -webkit-transform: translateY(-200px);
                transform: translateY(-200px);
        opacity: 0;
        }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1; 
        }
}

.nav-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; 
}

.nav-menu__link
{   
    color:rgb(255, 255, 255);
    text-transform: uppercase;/*заглавные буквы*/
    -webkit-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;  
}

.nav-menu__item::after{
    content: '';
    display: block; 
    margin: 0 auto; 
    margin-top: 10px; 
    width: 50px;
    height: 3px;
    background-color: rgb(252, 227, 138); 
    -webkit-transition: -webkit-transform 200ms ease-in-out; 
    transition: -webkit-transform 200ms ease-in-out; 
    -o-transition: transform 200ms ease-in-out; 
    transition: transform 200ms ease-in-out; 
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out; /*указываю что меняю*/
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0); /*ужимаю псевдоэлемент до нуля*/
}

.nav-menu__item:hover::after,
.nav-menu__item:focus::after{   
    content: '';
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1); /*показываю рысочку*/ 
} 

.nav-menu__link:hover,
.nav-menu__link:focus
{
    color: rgb(252, 227, 138);
    -webkit-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
}

.nav-menu__link-a{
    width: 18px;
    height: 18px;
}

.nav-menu__icon{
    display: inline-block;
    width: 100%;
    height: 100%;
    fill: rgb(255, 255, 255);
    -webkit-transition: fill 0.4s linear;
    -o-transition: fill 0.4s linear;
    transition: fill 0.4s linear;
}

.nav-menu__link-a:hover .nav-menu__icon{
    fill: rgb(252, 227, 138);
}

.title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.title-site{
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 72px;
    line-height: 86px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.title-site-description{
    font-size: 150px;
    line-height: 140px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 100px;
    text-align: center;
}

.butt-learn {
    text-align: center;
    min-width: 160px;
    min-height: 40px;   
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(51,51,51);
}

.butt-learn:hover,
.butt-learn:focus{
    border: 3px solid rgb(255, 255, 255);
}


/* TITLE SERVICES&TEAM */
.section{
    padding-bottom: 100px;
}

.section__title{
    text-align: center;
    text-transform: uppercase; 
    font-family: 'Montserrat', sans-serif;
    color: rgb(0,0,0);
    font-weight: 700;
    font-size: 30px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 64px;
}

.section__title::after{
    content:'';
    display: block;
    width: 60px;
    height: 3px;
    background-color: rgb(243, 129, 129);
    margin:0 auto;
    margin-top: 40px;/*зазор для рысочки от текста растояние*/
}

.section__first{
    padding-top: 48px;
}

.section__cursiv{
    display: block;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 54px;
    text-transform: lowercase;   
}

.section__cursiv::first-letter{
    text-transform: uppercase;
}

/* SERVICE */
.section__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.service__item{
    position: relative;
    -ms-flex-preferred-size: 380px;
        flex-basis: 380px; 
    padding: 0;
    margin: 0;
    padding-left: 80px;
    margin-bottom: 0;    
    }

.service__icon::before{
    position: absolute;
    left: 24px;
    top: 0;
    display: inline-block;
    content: '';
    height: 32px;
    width: 32px;
    
    background-size: contain;
    background-position: center;
    /* fill: rgb(149, 225, 211); */
}

 .service__icon--alarm::before{
    background-image: url("../img/icon/ALARM.png");
}

.service__icon--line::before{
    background-image: url("../img/icon/LINE GRAPH.png");
}

.service__icon--computer::before{
    background-image: url("../img/icon/COMPUTER.png");
}

.service__icon--book::before{
    background-image: url("../img/icon/BOOK.png");
}

.service__icon--house::before{
    background-image: url("../img/icon/HOME.png");
}
.service__icon--square::before{
    background-image: url("../img/icon/IMAGE.png");
} 

 .service__item:nth-child(-n+3){
    margin-bottom: 98px;
} 

.service__item-name,
.team__item-name{
    text-transform: uppercase;
    padding: 0;
    margin: 0 auto;
    color: rgb(51,51,51); 
}

.team__item-name{  
    margin-bottom: 6px;
    text-align: center;
} 

.service__item-text,
.section__text,
.team__item-ocupation{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    padding: 0;
    margin: 0 auto;
    color: rgb(179,179,179);
}

/* TEAM */
.section__text{
    text-align: center;
    margin-bottom: 90px;
}

.team__list{
    padding-top: 10px;
} 

.team__item{
    -ms-flex-preferred-size: 380px;
        flex-basis: 380px; 
    position: relative; 
}

.team__item-img{
    width: 380px;
    height: 470px;
    margin-bottom: 24px;
}

.team__item-green{
  width: 380px;
  height: 470px;
  background-color: rgb(149, 225, 211);
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.team__item:hover .team__item-img{
    -webkit-transform: translate(-10px,-10px);
        -ms-transform: translate(-10px,-10px);
            transform: translate(-10px,-10px);
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
  
.team__item-overlay{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /*отцентрировать по ширине блока main cross*/
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /*отцентрировать по высоте блока across*/
    width: 380px;
    height: 470px;
    position: absolute; /*подложку для hover item-team*/
    top: -10px;
    left: -10px;
    
    margin: 0;
    padding: 0;
    background: -webkit-gradient(linear,  left bottom, left top,  from(rgba(252, 227, 138, 0.9)), 
                                         to(rgba(243, 129, 129, 0.9))
                                );
    background: -o-linear-gradient(bottom,  rgba(252, 227, 138, 0.9), 
                                         rgba(243, 129, 129, 0.9)
                                );
    background: linear-gradient(to top,  rgba(252, 227, 138, 0.9), 
                                         rgba(243, 129, 129, 0.9)
                                );
   
    opacity: 0;
}

.team__item:hover .team__item-overlay,
.team__item:focus .team__item-overlay
{    
    opacity: 1;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    /* transform: translate(-10px,-10px); */
}

.team__item-ocupation{
    font-weight: 300;
    font-style: italic;
    text-align: center;
}
/* team overlay OVERLAY SOCIALS*/

.socials{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /*стали в ряд*/
    margin: 0 auto;
}

.socials__link{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 56px;
    height: 56px;
    margin: 0 auto;
    padding: 0;   
    background-color: rgb(252, 227, 138);
    
    /* border: 1px solid rgb(243,129,129); */
}

.socials__icon{
    display: inline-block;
    width: 38px;
    height: 38px;
    fill: rgb(243, 129, 129);
}

.socials__link:hover .socials__icon{
    fill: rgb(255, 255, 255);
}


.socials__item:nth-child(-n + 3){
    border-right: 1px solid rgb(243,129,129); 
} 

.socials__link:hover,
.socials__link:focus{
    background-color: rgb(243, 129, 129); 
}

/* FOOTER */
.footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 66px;
    border-top: 1px solid rgb(229,229,229);
}

.footer__text,
.footer__link{
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 26px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: rgb(51,51,51);
    text-transform: capitalize;
}
.footer__link{
    text-decoration: none;
    color: rgb(70,191,169);
}

.footer__form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__form-input {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    padding: 0;
    margin: 0;
    color: rgb(204,204,204);
    border: 1px solid rgb(231,231,231);
    width: 234px;
    height: 44px;
}

.footer__button{
    background-color: rgb(149,225,211);  
    width: 150px;
    height: 44px;
}

@media (-webkit-min-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2/1), (min-resolution:192dpi), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 2dppx){
    .banner{
        background: -webkit-gradient(linear,  left bottom, left top,  from(rgba(252, 227, 138, 0.9)), 
                                         to(rgba(243, 129, 129, 0.9))
                                ),
                url("../img/Layer15@2x.png");
        background: -o-linear-gradient(bottom,  rgba(252, 227, 138, 0.9), 
                                         rgba(243, 129, 129, 0.9)
                                ),
                url("../img/Layer15@2x.png");
        background: linear-gradient(to top,  rgba(252, 227, 138, 0.9), 
                                         rgba(243, 129, 129, 0.9)
                                ),
                url("../img/Layer15@2x.png");
    }
    .service__icon--alarm::before{
        background-image: url("../img/icon/ALARM@2x.png");
    }
    
    .service__icon--line::before{
        background-image: url("../img/icon/LINE GRAPH@2x.png");
    }
    
    .service__icon--computer::before{
        background-image: url("../img/icon/COMPUTER@2x.png");
    }
    
    .service__icon--book::before{
        background-image: url("../img/icon/BOOK@2x.png");
    }
    
    .service__icon--house::before{
        background-image: url("../img/icon/HOME@2x.png");
    }
    .service__icon--square::before{
        background-image: url("../img/icon/IMAGE@2x.png");
    } 
} 